@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oxygen+Mono&family=Quicksand:wght@500&display=swap');

:root {

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 1rem;
}

nav {
    position: sticky;
    top: 0;
}

main {
    overflow: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    padding: 1rem;
}

.navbar a {
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-links a {
    color: black;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.profile-aside {
    background-color: bisque;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article {
    background-color: cadetblue;
}

.newsletter-aside {
    background-color: blueviolet;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
}